# The URL to Elastic Search. Setting it here will override the URL set
# in the config file if used.
#ELASTICSEARCH_URL="-e http://localhost:9200"

# Config file.
CONFIG="-c {{ evebox_config_file }}"

# Other options.
EVEBOX_OPTS="{{ evebox_opts }}"
